@import url('./variables.css');

/* --------------------------------- Globals -------------------------------- */
/* #region Globals */
/* reset html styles */
* {
  /* remove default spacing */
  margin: 0;
  padding: 0;
}

/* to be able to scroll to clicked nav item section */
html {
  scroll-behavior: smooth;
}

/* extend a section's bg color beyond the container */
.extend-bg {
  position: relative;
  z-index: 1;
}
.extend-bg::before {    /* extending background-color beyond container */
  content: "";  /* needed for background-color to work! */
  position: absolute;
  left: calc(-1 * var(--container-padding));
  right: calc(-1 * var(--container-padding));
  top: 0;
  bottom: 0;
  z-index: -1;  /* needed to put the bg color behind the text */
}

/* content container */
.content-container {
  padding: 0rem var(--container-padding);
}

/* add padding to each section (below hero) */
section {
  padding: 2rem 0;
  text-align: center;
}

/* add space below the section title */
.section-title {
  margin-bottom: 2rem;
}

/* #endregion Globals */


/* ---------------------------------- Theme --------------------------------- */
/* #region Theme */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text-white);
}

/* remove link decorations */
a {
  text-decoration: none;
  color: inherit;   /* to make links the same color as surrounding text */
}

/* #endregion Theme */


/* -------------------------------- Components ------------------------------ */
/* #region Components */
/* card component */
card-comp {
  display: block;
  width: var(--card-width);
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  background-color: var(--color-elements);
  border-radius: 8px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }
}

/* title of card */
.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* container of cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  flex-direction: var(--card-direction);
  margin-top: 2rem;
}

/* buttons */
.button {
  color: var(--color-text-white);
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

/* #endregion Components */


/* ---------------------------- Back to Top button -------------------------- */
/* #region Back to Top */
.back-to-top {
  /* positioning: fixed in bottom-right corner */
  position: fixed;
  bottom: 2rem; /* 2rem from the bottom */
  right: 2rem;  /* 2rem from the right */

  /* colors */
  background-color: var(--color-primary);
  color: var(--color-text-white);
  border: none;
  cursor: pointer;

  /* size and shape */
  border-radius: 50%;
  width: 3rem;
  height: 3rem;

  /* button content */
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;  /* vertical center */

  /* hide when at the top */
  opacity: 0;
  visibility: hidden;

  /* transition */
  transition:
    /* hover effect */
    background-color 0.3s ease,
    transform 0.3s ease,

    /* visible on specific scroll position */
    opacity 0.3s ease,
    visibility 0.3s ease;

  /* hover effect */
  &:hover {
    background-color: var(--color-secondary);
    transform: scale(1.1);
  }

}
/* show at a specific scroll position */
.showTopButton {
  opacity: 1;
  visibility: visible;
}

/* #endregion Back to Top */


/* ---------------------------------- Hero ---------------------------------- */
/* #region Hero */
/* hero container */
#hero {
  background-color: var(--color-primary);
  color: var(--color-text-white);
}

/* hero content, stays inside container */
.hero-content {
  /* to center content in hero */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  /* new line break */
  flex-flow: column;

  /* up/down padding */
  padding: 5vh 0;  /* no padding left/right bc already managed by .content-container */
}

/* profile picture */
.profile-img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
}

/* row of hero buttons */
.hero-buttons {
  display: flex;
  flex-direction: var(--card-direction);
  gap: 1rem;
  justify-content: center;
  margin: 2.5rem 0rem;
}

/* download resume button */
.hero-button-resume {
  background-color: var(--color-bg);
}

/* contact me button */
.hero-button-contact {
  background-color: var(--color-bg);
}

/* #endregion Hero */


/* --------------------------------- Navbar --------------------------------- */
/* #region Navbar */
/* make navbar sticky */
nav {
  position: sticky;
  top: -1.7px;  /* to prevent a small gap from appearing between the navbar and top of page when scrolling */
  background-color: var(--color-elements);  /* for the mobile navbar */
  z-index: 10;  /* to make sure the navbar is above other content */
}

/* toggle nav button (hidden on desktop) */
.nav-toggle {
  display: var(--navbar-toggle-button);
  background: none;
  border: none;
  color: var(--color-text-white);
  font-size: 2rem;
  padding: .7rem 1rem;
  margin-left: auto;  /* push the toggle button to the right */
  cursor: pointer;
}

/* navbar content */
.nav-links {
  /* to make it not push the content down when expanding */
  position: var(--navbar-items-position);
  width: 100%;
  transform: translateY(var(--navbar-toggle-menu-transform));
  
  /* bg color */
  background-color: var(--color-elements);

  /* responsiveness */
  display: flex;
  flex-direction: var(--navbar-direction);
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;

  /* animation setup */
  opacity: var(--navbar-toggle-menu-opacity);
  visibility: var(--navbar-toggle-menu-visibility);
  pointer-events: var(--navbar-pointer-events);
  transition: 
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;

  /* toggle menu on mobile */
  &.show-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0px);
  }
}
.nav-links li {
  list-style-type: none;
  flex-grow: 1;
  flex-basis: 0;
}
.nav-links li a {
  display: block;
  /* color: var(--color-text-white); */
  padding: 1.3rem 0rem;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: none;  /* for the hover effect */
  transition: box-shadow 0.3s ease, background-color 0.3s ease;

  /* active state for each nav item when scrolling */
  &.active {
    box-shadow: inset 0 -3px 0 0 var(--color-text-white);
  }

  /* hover state */
  &:hover {
    background-color: color-mix(in oklab, var(--color-elements), black 30%);
  }
}

/* prevent top content of scrolled nav-item section from being hidden behind sticky navbar */
section {
  scroll-margin-top: var(--navbar-push-content);
}

/* #endregion Navbar */


/* ----------------------------- Skills section ----------------------------- */
/* #region Skills section */
/* skills inside each card (excluding the skill category title) */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* each skill item (icon + label) */
.skill-item {
  margin: 1rem;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: scale(1.1);
  }
}

/* skill icon size */
.skill-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* #endregion Skills section */


/* ---------------------------- Projects section ---------------------------- */
/* #region Projects section */
/* project card */
.project-card {
  display: flex;
  flex-direction: column;
}

/* project image (make it fit inside the card) */
.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

/* project skills used container */
.project-skills-used-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

/* project description container */
.project-description {
  text-align: left;
  margin-bottom: 1.5rem;
}

/* project buttons */
.project-buttons {
  display: flex;
  flex-direction: var(--button-container-direction);
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;  /* to push the buttons to the bottom of the card */
}

/* GitHub button */
.github-button {
  background-color: var(--color-secondary);
}

/* Live Demo button */
.demo-button {
  background-color: var(--color-primary);
}

/* show the filtered projects */
.show-filtered-projects {
  display: block;
}

/* hide the projects that don't match the filter */
.hide-filtered-projects {
  display: none;
}

/* #endregion Projects section */


/* --------------------------------- Footer --------------------------------- */
/* #region Footer */
hr {
  border: none;
  border-top: 1px solid var(--color-elements);
  margin: 0;
}

#footer {
  /* background-color: var(--color-elements); */
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

/* #endregion Footer */


