@import url('./variables.css');

/* --------------------------------- Globals -------------------------------- */
/* #region */
/* reset html styles */
* {
    /* remove default spacing */
    margin: 0;
    padding: 0;
}

/* remove link decorations */
a {
    text-decoration: none;
}

/* main container */
.main-container {
    padding: 0rem var(--container-padding);
}

/* add padding to each section (below hero) */
section {
    padding: 2rem 0;
    text-align: center;
}

/* add space below the section title */
.section-title {
    margin-bottom: 2rem;
}

/* #endregion */


/* ------------------------------- Components ------------------------------- */
/* #region */
/* button design */
.button {
    padding: .85rem 2rem;
    white-space: nowrap;    /* keeps text from wrapping */
    border: none;
    border-radius: 23px;
    cursor: pointer;
    background-color: purple;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;   /* to make buttons regardless of tag the same height */
    transition: background-color 0.3s;  /* change button color on hover w color described below */
}
.button:hover {
    background-color: blue;
}

/* #endregion */


/* ---------------------------------- Theme --------------------------------- */
/* #region */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text-black);
}

/* #endregion */

/* ------------------------------ Hero section ------------------------------ */
/* #region */
/* hero container */
#hero {
    background-color: var(--color-primary);
    color: #FFFFE4;

    /* to extend the background color */
    position: relative;
    z-index: 1;
}
#hero::before {   /* extending background-color beyond container */
    content: "";    /* needed for background-color to work! */
    position: absolute;
    left: calc(-1 * var(--container-padding));
    right: calc(-1 * var(--container-padding));
    top: 0;
    bottom: 0;
    background-color: var(--color-primary);
    z-index: -1;    /* needed to put the color behind the text */
}

/* hero content, stays inside container */
.hero-content-wrapper {
    /* to center content in hero */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    /* new line break */
    flex-flow: column;

    /* up/down padding */
    padding: 5vh 0;    /* no padding left/right bc already managed by .main-container */
}
@media screen and (min-width: 768px) {  /* tablet */
    .hero-content-wrapper {
        padding: 15vh 0;
    }
}
@media screen and (min-width: calc(1024px + 2px)) {  /* desktop + 2px */
    .hero-content-wrapper {
        flex-direction: row;
        padding: 20vh 0;
        gap: 4.3rem;
    }
}

/* image */
.profile-img {
    border-radius: 50%;
}

/* full name */
.hero-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }
}

/* job title */
.hero-subtitle {    /* mobile */
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {  /* tablet */
    .hero-subtitle {
        font-size: 2rem;
    }
}

/* summary */
.hero-paragraph {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 2rem;
}

/* button group */
.hero-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (min-width: 768px) {  /* tablet */
    .hero-buttons {
        flex-direction: row;
    }
}

/* #endregion */

/* ----------------------------- Skills section ----------------------------- */
/* #region */
/* skills container */
.skills-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 10px 0;
}
@media screen and (min-width: 1024px) {  /* desktop */
    .skills-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
        /* TODO: make this a JS function to dynamically apply for N number of items esp for fewer # of items */
        & > *:nth-last-child(-n+1) {    /* last 1 item = last row */
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@media screen and (min-width: 1440px) {  /* desktop XL */
    .skills-container > *:nth-last-child(-n+2) {    /* last 2 items = last row */
        margin-left: auto;
        margin-right: auto;
    }
}

/* #endregion */

/* ----------------------------- Projects section --------------------------- */
/* #region */
/* projects container */
.projects-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 10px 0;
}
@media screen and (min-width: 1024px) {  /* tablet */
    .projects-container {
        flex-direction: row;
        flex-wrap: wrap; /* Allow items to wrap within the container */
        justify-content: space-between;
        
        /* TODO: same as ^skills todo */
        & > *:nth-last-child(-n+1) {    /* last 1 item = last row */
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@media screen and (min-width: 1440px) {  /* desktop XL */
    .projects-container > *:nth-last-child(-n+2) {    /* last 2 items = last row */
        margin-left: auto;
        margin-right: auto;
    }
}

/* #endregion */