/* small screen size */
:root {
    /* color theme */
    --color-primary: #3B82F6;   /* interactions (e.g. buttons, links) */
    --color-secondary: #6366F1; /* accents (e.g. highlights, icons) */
    --color-accent: #22D3EE;
    --color-bg: #0F172A;
    --color-elements: #1E293B;
    --color-elements-hover: #1E293B;
    
    /* typography  */
    --color-text-white: #E2E8F0;
    --color-text-black: #2E2E2E;

    /* spacing */
    --container-padding: 1rem;

    /* navbar responsiveness */
    --navbar-direction: column;
    --navbar-toggle-button: flex;
    --navbar-toggle-menu: none;
}

/* medium screen size */
@media screen and (min-width: 768px) {
    :root {
        /* spacing */
        --container-padding: 9rem;
        
        /* navbar responsiveness */
        --navbar-direction: row;
        --navbar-toggle-button: none;
        --navbar-toggle-menu: flex;
    }
}

/* large screen size */
@media screen and (min-width: 1024px) {
    :root {
        /* spacing */
        --container-padding: 15rem;
    }
}