/* small screen size */
:root {
    /* color theme */
    --color-primary: #3B82F6;   /* interactions (e.g. buttons, links) */
    --color-secondary: #6366F1; /* accents (e.g. highlights, icons) */
    --color-accent: #22D3EE;
    --color-bg: #0F172A;
    --color-elements: #1E293B;
    --color-elements-hover: #1E293B;
    
    /* typography  */
    --color-text-white: #E2E8F0;
    --color-text-black: #2E2E2E;

    /* spacing */
    --container-padding: 1rem;

    /* card component */
    --card-direction: column;
    --card-width: 80%;

    /* navbar responsiveness */
    --navbar-direction: column;
    --navbar-toggle-button: flex;
    --navbar-toggle-menu-opacity: 0;
    --navbar-toggle-menu-visibility: hidden;
    --navbar-toggle-menu-transform: translateY(-30px);  /* initial position of the menu items when hidden on mobile */
    --navbar-items-position: absolute;  /* to be able to select the nav items on desktop */
    --navbar-pointer-events: none;  /* to prevent clicking on nav items when menu is hidden on mobile */
    --navbar-push-content: 55px;   /* prevent scrolled content from being hidden behind navbar */
}

/* medium screen size */
@media screen and (min-width: 768px) {
    :root {
        /* spacing */
        --container-padding: 9rem;

        /* card component */
        --card-direction: row;
        --card-width: 50%;
        
        /* navbar responsiveness */
        --navbar-direction: row;
        --navbar-toggle-button: none;
        --navbar-toggle-menu-opacity: 1;
        --navbar-toggle-menu-visibility: visible;
        --navbar-toggle-menu-transform: translateY(0);  /* no transform on desktop */
        --navbar-items-position: static;
        --navbar-pointer-events: auto;  /* enable clicking on nav items on desktop */
    }
}

/* large screen size */
@media screen and (min-width: 1024px) {
    :root {
        /* spacing */
        --container-padding: 15rem;

        /* card component */
        --card-width: 38%;
    }
}