// @import '_includes';
// @import 'globals';

/* --------------------------------- Nav bar -------------------------------- */
// Prevent flash of unstyled content
.no-js {
    @include breakpoint(small only) {
      .top-bar {
        display: none;
      }
    }
  
    @include breakpoint(medium) {
      .title-bar {
        display: none;
      }
    }
}
  
// Padding above elements (e.g. resume button)
.resume-padding {
  margin-top: 1.7em;
}

// header
.header-hero {
  padding: 10rem 0;
  background-color: lighten($primary-color, 10%);
  background-size: cover;
  color: white;
}

// TODO: cleanup menu item styling
// menu bar
.menu {
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  
  // active nav link when scrolling
  .is-active {
    font-weight: bold;
    background-color: lighten($primary-color, 10%);
    color: white;

    // expand active menu item to full width in small screens
    @include breakpoint(small only) {
      width: 100%;
    }
  }
}

// each menu item (does not cover link styling)
.menuItem {
  margin: 0 .5em;    // top/bottom, left/right
  
  // when hovering over each menu item
  &:hover {
    background-color: lighten($primary-color, 40%);
  }
  
  // expand each menu item to full width in small screens
  @include breakpoint(small only) {
    margin: .5em .5em;    // top/bottom, left/right
    width: 100%;
  }
}

// for the nav link styling
.menuItemLink {
  // expand each menu item link to full width in small screens
  @include breakpoint(small only) {
    width: 100%;
  }

}

// make mobile menu button "flush"
.mobile-menu {
  margin: 0;
  background-color: lighten($primary-color, 10%);
}

// Give each section some space in between sections
// TODO: make it padding-bottom via Foundation JS plugin options
.section-padding {
  padding-top: 3em;
  padding-bottom: 3em;
}