/* --------------------------------- Header --------------------------------- */
.header-hero {
    padding: 7rem 0;    // top/bottom, left/right
    // background-color: lighten($primary-color, 10%);
    background-size: cover;
    color: white;
}
    
// Padding above elements (e.g. resume button)
.resume-padding {
    margin-top: 1.7em;
}


/* --------------------------------- Nav bar -------------------------------- */
// TODO: better .active styling?

// each menu item (does not cover link styling)
.nav-item {
  margin: 0em 1em;    // top/bottom, left/right

  // add more vertical spacing b/w menu items in smaller screens
  @include media-breakpoint-down(sm) {
    margin: .5em 0em;       // top/bottom, left/right
  }
}
