// @import '_includes';
// @import 'globals';

/* ------------------------------- About page ------------------------------- */
// Customize thumbnail cropping (medium-large screens)
.round {
    object-fit: cover;          // prevent image from stretching
    object-position: 0% 25%;    // move the crop around, [left/right] [up/down]
    aspect-ratio: 1/1;          // crops to a square
    border-radius: 50%;         // round corners
    width: 17em;                // size of image
}

// Add more margin to side for small screens
$margin-gutter: 2.5em;
.margin-small {
    @include breakpoint(small only) {
        margin-left: $margin-gutter;
        margin-right: $margin-gutter;
    }
}

// Adjust thumbnail size and centered when stacked in small devices
.stack-for-small .media-object-section img {
    @include breakpoint(small only) {
        width: 13em;
        @include hcenter;   // center left/right
    }
}

// Add more margin to side of text in media-object container for medium+ screen sizes
.margin-side-left {
    @include breakpoint(medium) {
        margin-left: 3em;
    }
}