/* ------------------------------ Projects page ----------------------------- */
// Custom project GitHub/demo buttons width bc Bootstrap
.proj-button {
    width: 45%;
}

// Skills used icons
.proj-skills {
    margin: 7% 5% 0;  // top, left/right, bottom
}

// Make card image size equal
.card-img-top {
    width: 100% !important;
    height: 15em !important;
    object-fit: cover;
}

// Add some bottom padding to project card
.project-card {
    padding-bottom: 2em;
}

// Filter elements with matching tags