/* ------------------------------ Projects page ----------------------------- */
// Custom project GitHub/demo buttons width bc Bootstrap
.proj-button {
    width: 45%;
}

// Skills used icons
.proj-skills {
    margin: 7% 5% 0;  // top, left/right, bottom
}

// Make card image size equal
.card-img-top {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover;
}