// // @import '_includes';
// // @import 'globals';

// /* ------------------------------- About page ------------------------------- */
// Customize thumbnail cropping (medium-large screens)
.round {
    object-fit: cover;          // prevent image from stretching
    object-position: 0% 25%;    // move the crop around, [left/right] [up/down]
    aspect-ratio: 1/1;          // crops to a square
    border-radius: 50%;         // round corners
    width: 17em;                // size of image
}

// Add more margin to side for small screens
$margin-gutter: 2em;
.margin-small {
    @include media-breakpoint-down(sm) {
        margin-left: $margin-gutter;
        margin-right: $margin-gutter;
    }
}

// Adjust thumbnail size + spacing b/w thumbnail/header for small screens
.thumbnail-small {
    @include media-breakpoint-down(sm) {
        width: 70%;
        margin-bottom: 1.5em;
    }
}
