---
nav: "skills"
title: Skills
icon: fa-solid fa-toolbox
---

<!-- A quick note -->
<div class="row">
    <div class="col-12 text-center">
        <p>These are my select top skills.  To see more, check out <a href="https://www.linkedin.com/in/rachel-estilo/" target="_blank">my LinkedIn profile</a>.</p>
    </div>
</div>

<!-- Actual skills cards -->
<br>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for skillCat in site.data.skills %}
        <div class="col">
            <div class="card h-100" id="skillCategory">
                <!-- Header -->
                <h2 class="card-header h5">{{ skillCat.category }}</h2>

                <!-- Content -->
                <div id="{{skillCat.cat_id}}" class="card-body py-3 d-flex flex-column justify-content-center align-items-center">
                    <!-- Sort through skills by proficiency -->
                    {% assign skills_sorted = skillCat.skills | sort: 'proficiency', 'first' %}

                    <!-- Loop through skills data (reversed to go by descending proficiency order) -->
                    {% for skill_details in skills_sorted reversed %}
                        <!-- Only show relevant skills, they are there since I did use them in some projects, but I don't want to show I want to keep using it (Can also hide skills if < 50% or something) -->
                        {% if skill_details.show_in_skills_list %}
                            <div class="card my-2 w-100">
                                <div class="card-body">
                                    <!-- Need to make "row" to allow "floating" left and right esp. for progress bar -->
                                    <div class="row align-items-center">
                                        <!-- Skill icon -->
                                        <a class="col-3 stretched-link" href="{{ skill_details.skill_page }}" target="_blank"><img class="icon-size" src="{{ skill_details.icon }}" title="{{ skill_details.skill_name }} icon from {{ skill_details.icon_source }}" preserveAspectRatio="xMinYMin"></a>
            
                                        <!-- Proficiency level (may take out later) -->
                                        <div class="col ms-2">
                                        <!-- <div class="col pt-3 text-center"> -->
                                            <!-- <p class="h5">{{ skill_details.skill_name }}</p> -->

                                            <div class="progress">
                                                <!-- Actual proficiency level -->
                                                <div class="progress-bar skill-proficiency" style="--proficiency: {{ skill_details.proficiency }}%;" role="progressbar" aria-valuenow="{{ skill_details.proficiency }}" aria-valuemin="0" aria-valuemax="100">{{ skill_details.proficiency }}%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
