---
nav: "skills"
title: Skills
icon: fa-solid fa-toolbox
---

<!-- A quick note -->
<div class="row">
    <div class="col-12 text-center">
        <p>These are my top 10 skills.  To see more, check out <a href="https://www.linkedin.com/in/rachel-estilo/details/skills/" target="_blank">my LinkedIn profile</a>.</p>
    </div>
</div>

<!-- Actual skills cards -->

<!-- TODO: Skill categories:
    - Programming languages
    - Front-end frameworks
    - Back-end frameworks
    - Data storage
    - Server
    - Other stack (e.g. Adobe Creative Cloud)

    Source: https://www.heap.io/topics/what-is-a-tech-stack
 -->

<br>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <!-- Sort through skills by proficiency -->
    {% assign skills_sorted = site.data.skills | sort: 'proficiency', 'first' %}

    <!-- Loop through skills data (reversed to go by descending proficiency order) -->
    <!-- Separate .cell and .card if you want fixed card sizes regardless of screen size.  Otherwise, to stretch some cards, put them in the same div/level -->
    {% for skill in skills_sorted reversed %}
        <!-- Only show relevant skills, they are there since I did use them in some projects, but I don't want to show I want to keep using it -->
        <!-- (Can also hide skills if < 50% or something) -->
        {% if skill.show_in_skills_list %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <!-- Need to make "row" to allow "floating" left and right esp. for progress bar -->
                        <div class="row align-items-center">
                            <!-- Skill icon -->
                            <a class="col-2 stretched-link" href="{{ skill.skill_page }}" target="_blank"><img class="icon-size" src="{{ skill.icon }}" title="{{ skill.skill_name }} icon from {{ skill.icon_source }}" preserveAspectRatio="xMinYMin"></a>

                            <!-- Proficiency level (may take out later) -->
                            <div class="col ms-2">
                                <div class="progress">
                                    <!-- Actual proficiency level -->
                                    <div class="progress-bar skill-proficiency" style="--proficiency: {{ skill.proficiency }}%;" role="progressbar" aria-valuenow="{{ skill.proficiency }}" aria-valuemin="0" aria-valuemax="100">{{ skill.proficiency }}%</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
