---
nav: "projects"
title: Projects
icon: fa-solid fa-file-lines
---

<!-- A quick note -->
<div class="row">
    <div class="col-12 text-center">
        <p>These are my select top projects.  To see more projects, check out <a href="https://www.linkedin.com/in/rachel-estilo/" target="_blank">my LinkedIn profile</a> and/or <a href="https://github.com/racstyle?tab=repositories" target="_blank">my GitHub repositories</a>.</p>
    </div>
</div>

<!-- Attempting to categorize + enable filtering projects by category -->
<!-- Setting up categories to loop through first -->
{% assign proj_cat_tags = "Show-All" | split: ',' %}
<!-- Access project data -->
{% for project in site.data.projects %}
    <!-- Go through each project's tags and get each project's UNIQUE tags -->
    {% for proj_cat_tags_list in project.proj_category_tags %}
        {% assign proj_cat_tags = proj_cat_tags | push: proj_cat_tags_list | uniq %}
    {% endfor %}
{% endfor %}

<!-- Now showing categories and filtering by selection -->
<br>
<nav id="projCatContainer" class="nav nav-pills justify-content-center">
    {% for proj_tag in proj_cat_tags %}
        <a class="nav-link projFilters" onclick="filterProjects('{{ proj_tag }}')">{{ proj_tag | replace: "-", " " }}</a>
    {% endfor %}
</nav>



<!-- Actual projects -->
<br>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-start">
    <!-- Sort through projects by recently finished/ongoing -->
    {% assign projects_sorted = site.data.projects | sort: 'end_date', 'first' %}
    
    <!-- Loop through each project data, categorized by category (maybe one day skills?) -->
    {% for proj in projects_sorted reversed %}
        <div class="col projFilterHide {% for proj_cats in proj.proj_category_tags %} {{ proj_cats }} {% endfor %}">
            <!-- Assign category classes for filtering -->
            <div class="card h-100 project-card">
                <!-- Project screenshot -->
                <img class="card-img-top" src="{{ proj.screenshot }}" alt="{{ proj.screenshot_desc }}">
                
                <!-- Project name + description -->
                <div class="card-body">
                    <h2 class="card-title h4">{{ proj.name }}</h2>
                    <p class="card-text">{% if proj.start_date != proj.end_date %} {{ proj.start_date }} - {% endif %} {{ proj.end_date }}</p>

                    <!-- Loop through bulleted description -->
                    <ul class="card-text">{% for desc in proj.description %}
                        <li>{{ desc }}</li>
                    {% endfor %}</ul>

                </div>
                
                <!-- Button group -->
                <div class="text-center center-element-group">
                    {% if proj.github %}<a href="{{ proj.github }}" target="_blank" class="btn btn-lg btn-primary proj-button mx-1"><i class="fa-brands fa-github"></i>  GitHub</a>{% endif %}
                    {% if proj.demo %}<a href="{{ proj.demo }}" target="_blank" class="btn btn-lg btn-primary proj-button mx-1"><i class="fa-solid fa-desktop"></i>  Demo</a>{% endif %}
                </div>

                <!-- Skills/frameworks used in project -->
                <div class="text-center">
                    <!-- Go through skills in project -->
                    {% for proj_skill in proj.skills_used %}
                        <!-- Go through skills in skillset -->
                        <!-- Start in skill categories -->
                        {% for skill_cat in site.data.skills %}
                            <!-- Then access skill details inside each category -->
                            {% for used_skill in skill_cat.skills %}
                                {% if proj_skill == used_skill.skill_name %}<a href="{{ used_skill.skill_page }}" target="_blank"><img src="{{ used_skill.icon }}" title="{{ used_skill.skill_name }} icon from {{ used_skill.icon_source }}" preserveAspectRatio="xMinYMin" class="icon-size proj-skills"></a>{% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
