---
nav: "projects"
title: Projects
icon: fa-solid fa-file-lines
---

<br>
<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
    <!-- Loop through each project data -->
    {% for proj in site.data.projects %}
        <!-- Separate .cell and .card if you want fixed card sizes regardless of screen size.  Otherwise, to stretch some cards, put them in the same div/level -->
        <div class="cell">
            <div class="card">
                <img src="{{ proj.screenshot }}">
                <div class="card-section">
                    <h2 class="h4">{{ proj.name }}</h2>
                    <p>{{ proj.start_date }} - {{ proj.end_date }}</p>

                    <!-- Loop through bulleted description -->
                    <ul>{% for desc in proj.description %}
                        <li>{{ desc }}</li>
                    {% endfor %}</ul>

                    <!-- Button group -->
                    <div class="center-element-group">
                        {% if proj.github %}<a href="{{ proj.github }}" target="_blank" class="button proj-button expanded"><i class="fa-brands fa-github"></i>  GitHub</a>{% endif %}
                        {% if proj.demo %}<a href="{{ proj.demo }}" target="_blank" class="button proj-button expanded"><i class="fa-solid fa-desktop"></i>  Demo</a>{% endif %}
                    </div>

                    <!-- Skills/frameworks used -->
                    <div class="center-element-group">
                        <!-- Go through skills in project -->
                        {% for proj_skill in proj.skills_used %}
                            <!-- Go through skills in skillset -->
                            {% for used_skill in site.data.skills %}
                                {% if proj_skill == used_skill.skill_name %}<a href="{{ used_skill.skill_page }}" target="_blank"><img src="{{ used_skill.icon }}" title="{{ used_skill.skill_name }} icon from {{ used_skill.icon_source }}" preserveAspectRatio="xMinYMin" class="icon-size"></a>{% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
