---
layout: default
title: About meeeeeee!
---

<!-- Main header -->
<header><h1>{{ page.title }}</h1></header>

<!-- Main content -->
<!-- Description box -->
<div class="callout">
    <p>Wanna learn more about the creator of this website?  This is where you can find out more about meeeeee!</p>
</div>

<!-- Introduction -->
<section class="media-object">
    <div class="media-object-section">
        <img class="thumbnail" src="assets/rachel.jpg">
    </div>
    <div class="media-object-section">
        <h2>Coding, music, and graphics, 'nuff said</h2>
        <p>I am a computer engineering graduate from the University of Illinois at Chicago also looking to obtain my Master's of the same degree at the same school.</p>
    </div>
</section>

<!-- Education -->
<hr>
<header><h2>EDUCATION</h2></header>
<section class="grid-x grid-padding-x">
    <div class="large-12 cell">
        <h3>University of Illinois at Chicago (College of Engineering)</h3>
        <p>Bachelor's degree in Computer Engineering &nbsp; | &nbsp; 2016 - 2021 </p>
        <br>
        <h3>Homeschooled</h3>
        <p>1999 - 2015</p>
    </div>
</section>

<!-- Skills -->
<hr>
<header><h2>SKILLS</h2></header>
<section class="grid-x grid-padding-x">
    <!-- Coding languages -->
    <div class="large-12 cell">
        <header><h3>Languages</h3></header>
        <div class="grid-x grid-margin-x small-up-2 medium-up-5 large-up-7">
            {% for item in site.data.languages %}
                <section class="cell card shrink">
                    <!-- Language name -->
                    <header><h5 class="card-divider text-center align-center custom-card-text-height"><strong>{{ item.language }}</strong></h5></header>
                    <!-- Language icon -->
                    <div class="grid-x align-center">{{ item.icon }}</div>
                    <!-- Progress/knowledge bar -->
                    <div class="progress">
                        <span class="progress-meter" style="width: {{ item.knowledge }}%">
                            <span class="progress-meter-text">{{ item.knowledge }}%</span>
                        </span>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
    <!-- Frameworks -->
    <div class="large-12 cell">
        <br>
        <header><h3>Frameworks</h3></header>
        <div class="grid-x grid-margin-x small-up-2 medium-up-5 large-up-7">
            {% for item in site.data.frameworks %}
                <section class="cell card shrink">
                    <!-- Language name -->
                    <header><h5 class="card-divider text-center align-center custom-card-text-height"><strong>{{ item.framework }}</strong></h5></header>
                    <!-- Language icon -->
                    <div class="grid-x align-center">{{ item.icon }}</div>
                    <!-- Progress/knowledge bar -->
                    <div class="progress">
                        <span class="progress-meter" style="width: {{ item.knowledge }}%">
                            <span class="progress-meter-text">{{ item.knowledge }}%</span>
                        </span>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Tools -->
<hr>
<header><h2>TOOLS</h2></header>
<section class="grid-x grid-padding-x">
    <!-- Graphics tools -->
    <div class="large-12 cell">
        <header><h3>Graphics</h3></header>
        <div class="grid-x grid-margin-x small-up-2 medium-up-5 large-up-7">
            {% for item in site.data.tools_graphics %}
                <section class="cell card shrink">
                    <!-- Graphic tool name -->
                    <header><h5 class="card-divider text-center align-center custom-card-text-height"><strong>{{ item.tool }}</strong></h5></header>
                    <!-- Graphic ool icon -->
                    <div class="grid-x align-center">{{ item.icon }}</div>
                    <!-- Progress/knowledge bar -->
                    <div class="progress">
                        <span class="progress-meter" style="width: {{ item.knowledge }}%">
                            <span class="progress-meter-text">{{ item.knowledge }}%</span>
                        </span>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Experience -->
<hr>
<header><h2>EXPERIENCE</h2></header>
<section class="grid-x grid-padding-x">
    <div class="large-6 cell">
        <h3>Job Experience</h3>
        
        <hr class="medium-12">
    </div>
    <div class="large-6 cell">
        <h3>Volunteer Experience</h3>
        
    </div>
</section>