<div class="callout warning" data-closable>
    <button class="close-button" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="align-center text-center">
        <img class="construction-icons" src="https://img.icons8.com/emoji/96/000000/construction-emoji.png"/>
        <span class="h3">Please pardon my dust....</span>
        <img class="construction-icons" src="https://img.icons8.com/emoji/96/000000/construction-emoji.png"/>
        <p>This entire site is currently under construction at this time.  You may see something break or some weird formatting happen overtime.  I am currently developing this site and finalizing the details before making it offically public.</p>
        <p>Feel free to check out what I am currently developing in the meantime!<br>
        Also, if you see a bug or have a suggestion, <a href="https://github.com/racstyle/racstyle.github.io/issues/new">feel free to drop me an issue</a>.</p>
        <p>Thank you and have a great day!</p>
        <p><i>(Icon credits: <a href="https://icons8.com/icon/XNJzvoMWObVH/construction">Construction icon by Icons8</a>)</i></p>
    </div>
</div>