<!-- Footer that will appear in every page -->

<hr>
<footer class="container text-center">
    <!-- button to portfolio repo -->
    <div class="row">
        <div class="col-12">
            <a href="https://github.com/racstyle/racstyle.github.io" class="hollow button" target="_blank"><i class="fab fa-github icon-foot"></i>  View source on GitHub</a>
        </div>
    </div>
    
    <!-- portfolio deployed via GitHub Pages -->
    <div class="row">
        <div class="col-12">
            <p>This portfolio website was deployed with <a href="https://pages.github.com/" target="_blank">GitHub Pages</a></p>
        </div>
    </div>

    <!-- TODO: site last updated -->
    <!-- <div class="row">
        <div class="col-12"> -->
            <!-- <p>Last updated <span id="updated">[Loading...]</span></p> -->
            <!-- <pre id="message">Loading</pre>
        </div>
    </div> -->
</footer>
