<!-- Footer that will appear in every page -->

<hr>
<footer class="grid-x grid-padding-x text-center">
    <!-- button to portfolio repo -->
    <div class="cell large-auto large-text-left">
        <a href="https://github.com/racstyle/racstyle.github.io" class="hollow button" target="_blank"><i class="fab fa-github icon-foot"></i>  View source on GitHub</a>
    </div>
    
    <!-- portfolio deployed via GitHub Pages -->
    <div class="cell large-7">
        <p>This portfolio website was deployed with <a href="https://pages.github.com/" target="_blank">GitHub Pages</a></p>
    </div>
    
    <!-- social media icons + links -->
    <div class="cell large-auto large-text-right h3">
        <a href="https://github.com/racstyle/" target="_blank"><i class="fab fa-github icon-foot"></i></a>
        &nbsp;
        <a href="https://www.linkedin.com/in/rachel-estilo" target="_blank"><i class="fab fa-linkedin icon-foot"></i></a>
    </div>
</footer>
