<hr>
<footer class="grid-x grid-padding-x">
    <div class="cell auto align-center">
        <h4>Oh look, a foot!</h4>
    </div>

    <div class="cell float-right large-shrink medium-shrink small-auto">
        <p style="display: inline;">Follow me! &nbsp; &nbsp; &nbsp; &nbsp;</p>
        <a href="https://github.com/racstyle/" target="_blank"><i class="fab fa-github icon-foot"></i></a>
        &nbsp;
        <a href="https://linkedin.com/in/rachel-estilo/" target="_blank"><i class="fab fa-linkedin icon-foot"></i></a>
    </div>
</footer>