<div class="top-bar" id="menu">
    <div class="top-bar-left">
        <ul class="vertical menu dropdown medium-horizontal" data-dropdown-menu>
            <li class="menu-icon"><i class="fa fa-bars"></i></li>
            <li class="menu-text">Le Website</li>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>Placeholder</li>
        </ul>
    </div>
</div>

<!-- <div class="top-bar" id="menu">
  <div class="top-bar-left">
      <ul class="vertical menu dropdown medium-horizontal" data-dropdown-menu>
          <li class="menu-text">Le Website</li>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="playground-home.php">Playgrounds</a>
              <ul class="vertical menu" data-submenu>
                  <li><a href="playground-dev.php">DEV playground</a></li>
                  <li><a href="playground-create.php">Creative playground
                  </a></li>
                  <li><a href="playground-home.php">About playgrounds
                  </a></li>
              </ul></li>
          <li><a href="about.php">About</a></li>
          <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a></li>
      </ul>
  </div>
  <div class="top-bar-right">
      <ul id="menu">
            <li>Placeholder</li>
      </ul>
  </div>
</div> -->