<!-- Navigation bar that will appear in every page -->

<!-- This top-most div will enable sticky nav -->
<div class="sticky-shrinknav-menu">
    <!-- TODO: responsive menu -->
    <!-- Responsive menu bar icon -->
    <!-- <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="menu"></button>
        <div class="title-bar-title">Menu</div>
    </div> -->

    <!-- Menu bar content -->
    <!-- TODO: Liquid dynamic url link as scrolling -->
    <!-- "data-sticky" enables menu to be sticky -->
    <!-- "data-sticky-on" enables menu on small screens to be sticky -->
    <!-- "data-margin-top" tells how much space above can be shown when scrolling -->
    <!-- "data-options" can have many parameters, but "marginTop" tells where on screen menu sticks (I also believe it can take semicolon-separated args like ^above (e.g. "data-margin-top="0"" becomes "data-options="marginTop:0;"")) -->
    <nav id="menu">
        <!-- <ul class="menu">
            <li class="menu-text">Rachel Estilo</li>
        </ul> -->
        <ul class="menu align-center" data-smooth-scrolling>
            {% for item in site.data.navi %}
                <!-- Check if current page is active -->
                <li {% if page.url == item.url %} class="is-active" {% endif %}>
                    <!-- List rest of links -->
                    <!-- Conditional if the selected nav is the root/home page or not -->
                    <!-- Selected nav is root -->
                    {% if item.url == '/' %}
                        <a href="{{ item.url }}"><i class="{{ item.icon }}"></i>  {{ item.title }}</a>
                    <!-- Not root, need to add id '#' for jumping -->
                    {% else %}
                        <a href="#{{ item.url }}"><i class="{{ item.icon }}"></i>  {{ item.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
