<!-- Navigation bar that will appear in every page -->

<!-- This top-most div will enable sticky nav -->
<nav data-sticky-container>
    <div class="sticky" data-sticky data-margin-top="0" data-top-anchor="header-hero:bottom" data-btm-anchor="section-content:bottom">
        <!-- Responsive menu bar icon -->
        <div class="menu top-bar align-center" data-responsive-toggle="menu" data-hide-for="medium">
            <!-- <div class="top-bar-title"> -->
                <button class="button mobile-menu" type="button" data-toggle="menu"><i class="fa fa-md fa-bars"></i> Menu</button>
            <!-- </div> -->
        </div>
    
        <!-- Menu bar content -->
        <!-- TODO: Liquid dynamic active url link as scrolling -->
        <div id="menu">
            <ul class="menu top-bar align-center vertical medium-horizontal" data-smooth-scroll>
                {% for item in site.pages %}
                    <!-- List rest of links -->
                    <li class="menuItem"><a href="#{{ item.nav }}"><i class="{{ item.icon }}"></i>  {{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
