<!-- Work duration for formatting date before pushing to date range -->
{% assign work_duration = "" %}

<!-- Sort by year -->
{% assign job_by_end_year = include.exp_list | sort: "end_year" | group_by: "end_year" %}

{% for year in job_by_end_year reversed %}
    {% assign job_end_year = year.name %}

    <!-- If end_year is empty/Present --> 
    {% if job_end_year == "2999" %}
        {% assign job_end_year = "Present" %}
    {% endif %}

    <!-- Access each experience in the year -->
    {% for year_item in year.items %}
        <!-- If start or end month is empty -->
        {% if year_item.end_month == nil %}
            <!-- Year -->
            {% capture work_duration %}
                {{ year_item.start_year }} - {{ job_end_year }}
            {% endcapture %}

            {% assign job_date_range = job_date_range | push: work_duration %}
            {% assign titlez = titlez | push: year_item.title %}
            {% assign tagz = tagz | push: year_item.tags %}
            {% assign company = company | push: year_item.company %}
            {% assign location = location | push: year_item.location %}
            {% assign tasks = tasks | push: year_item.tasks %}

            {% continue %}
        {% endif %}

        <!-- Sort by month -->
        {% assign job_by_end_month = year.items | sort: "end_month" | group_by: "end_month" %}
        {% for month in job_by_end_month reversed %}
            {% for month_item in month.items %}
                <!-- Arbitrary start date to format month to date -->
                {% capture start_monthy %}
                    {{ month_item.start_year }}-{{ month_item.start_month | prepend: '00' | slice: -2, 2 }}-12
                {% endcapture %}
                <!-- Arbitrary end date to format month to date -->
                {% capture end_monthy %}
                    {{ job_end_year }}-{{ month_item.end_month | prepend: '00' | slice: -2, 2 }}-12
                {% endcapture %}

                <!-- If start or end day is empty -->
                {% if month_item.end_day == nil or month_item.start_day == nil %}
                    <!-- Month Year -->
                    {% capture work_duration %}
                        {{ start_monthy | date: "%b" }} {{ year_item.start_year }} - {{ end_monthy | date: "%b" }} {{ job_end_year }}
                    {% endcapture %}

                    <!-- If the year is Present, change formatting -->
                    {% if job_end_year == "Present" %}
                        {% capture work_duration %}
                            {{ start_monthy | date: "%b" }} {{ year_item.start_year }} - {{ job_end_year }}
                        {% endcapture %}
                    {% endif %}

                    {% assign job_date_range = job_date_range | push: work_duration %}
                    {% assign titlez = titlez | push: month_item.title %}
                    {% assign tagz = tagz | push: month_item.tags %}
                    {% assign company = company | push: month_item.company %}
                    {% assign location = location | push: month_item.location %}
                    {% assign tasks = tasks | push: month_item.tasks %}

                    {% continue %}
                {% endif %}

                <!-- Sort by day -->
                {% assign job_by_end_day = month.items | sort: "end_day" | group_by: "end_day" %}
                {% for day in job_by_end_day reversed %}
                    {% for day_item in day.items %}
                        <!-- Month Day, Year -->
                        {% capture work_duration %}
                            {{ start_monthy | date: "%b" }} {{ day_item.start_day | prepend: '00' | slice: -2, 2 }}, {{ year_item.start_year }} - {{ end_monthy | date: "%b" }} {{ day_item.end_day | prepend: '00' | slice: -2, 2 }}, {{ job_end_year }}
                        {% endcapture %}

                        <!-- If the year is Present, change formatting -->
                        {% if job_end_year == "Present" %}
                            {% capture work_duration %}
                            {{ start_monthy | date: "%b" }} {{ day_item.start_day | prepend: '00' | slice: -2, 2 }}, {{ year_item.start_year }} - {{ job_end_year }}
                            {% endcapture %}
                        {% endif %}

                        {% assign job_date_range = job_date_range | push: work_duration %}
                        {% assign titlez = titlez | push: day_item.title %}
                        {% assign tagz = tagz | push: day_item.tags %}
                        {% assign company = company | push: day_item.company %}
                        {% assign location = location | push: day_item.location %}
                        {% assign tasks = tasks | push: day_item.tasks %}

                        {% continue %}
                    {% endfor %}    <!-- end each day item loop -->
                {% endfor %}    <!-- end day loop -->
            {% endfor %}    <!-- end each month item loop -->
        {% endfor %}    <!-- end month loop -->
    {% endfor %}    <!-- end each year item loop -->
{% endfor %}    <!-- end year loop -->