<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
        <link rel="icon" href="assets/Apple-Spring.png">
        <link rel="stylesheet" href="node_modules/foundation-icons/foundation-icons.css">
        <link rel="stylesheet" href="{{ root_url }}/css/app.css">
    </head>
    <body>
        <!-- Nav bar -->
        <!-- Responsive menu bar icon -->
        <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
        </div>
        
        <!-- Menu bar content -->
        <nav class="top-bar" id="menu" data-animate="hinge-in-from-top spin-out">
            {% include nav.html %}
        </nav>
        
        <!-- Content and Footer -->
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <!-- Content -->
                {{ content }}
                
                <!-- Footer -->
                {% include foot.html %}
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
        <script src="node_modules/what-input/dist/what-input.min.js"></script>
        <script src="node_modules/foundation-sites/dist/js/foundation.min.js"></script>
        <script src="js/app-min.js"></script>
    </body>
</html>
