<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachel Estilo</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href={{ site.path }}{{ "/css/app-custom-min.css" }}>
    <!-- FontAwesome -->
    <link rel="stylesheet" href={{ site.path }}{{ "/node_modules/@fortawesome/fontawesome-free/css/all.min.css" }}>
  </head>
  <body>
    <!-- Scroll to top button -->
    <button onclick="topFunction()" id="scrollTop" title="Go to top of page" data-smooth-scroll>Top</button>

    <!-- Temp modal for upcoming resume (I will need to update it, anyway lol) -->
    <div class="reveal" id="resume_modal" data-reveal>
      <h1>Hello!  A resume will be coming soon!</h1>
      <p>I have some stuff I want to modify, but you will see it soon!</p>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Nav bar + header (outside .grid-container + added nested .cell bc we want full page width) -->
    <div class="grid-x">
      <div class="expanded cell">
        <!-- Header -->
        <header id="header-hero" class="header-hero text-center">
          <!-- Header title -->
          <h1 class="">Rachel Estilo</h1>
          <h2 class="">Software Engineer</h2>
          <button class="button secondary resume-padding" href="#" data-open="resume_modal">Download Resume</button>
        </header>
        
        <!-- Nav -->
        {% include nav.html %}
      </div>
    </div>
    <br>

    <!-- Content -->
    <div class="grid-container">
      <!-- Main content -->
      <div id="section-content">
        {{ content }}
      </div>
      
      <!-- Footer -->
      {% include foot.html %}
      <br><br><br>
    </div>

    <script src={{ site.path }}{{ "/node_modules/jquery/dist/jquery.js" }}></script>
    <script src={{ site.path }}{{ "/node_modules/what-input/dist/what-input.js" }}></script>
    <script src={{ site.path }}{{ "/node_modules/foundation-sites/dist/js/foundation.js" }}></script>
    <script src={{ site.path }}{{ "/js/app-min.js" }}></script>
  </body>
</html>
