<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachel Estilo</title>
    <!-- TODO: favicon (DIY????) -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href={{ site.path }}{{ "/css/app-custom-min.css" }}>
    <!-- FontAwesome -->
    <link rel="stylesheet" href={{ site.path }}{{ "/node_modules/@fortawesome/fontawesome-free/css/all.min.css" }}>
  </head>
  <body>
    <!-- Scroll to top button -->
    <button onclick="topFunction()" id="scrollTop" title="Go to top of page" data-smooth-scroll>Top</button>

    <!-- Nav bar + header (outside .grid-container + added nested .cell bc we want full page width) -->
    <div class="grid-x">
      <div class="expanded cell">
        <!-- Header -->
        <header id="header-hero" class="header-hero text-center">
          <!-- Header title -->
          <h1>Rachel Estilo</h1>
          <h2 class="h3">Software Engineer</h2>
          <a href="../assets/Rachel_Estilo_RES.pdf" download="Rachel_Estilo_RES"><button class="button secondary resume-padding">Download Resume</button></a>
        </header>
        
        <!-- Nav -->
        {% include nav.html %}
      </div>
    </div>
    <br>

    <!-- Content -->
    <div class="grid-container">
      <!-- Main content -->
      <div id="section-content">
        {{ content }}
      </div>
      
      <!-- Footer -->
      <br><br>
      {% include foot.html %}
      <br><br><br>
    </div>

    <script src={{ site.path }}{{ "/node_modules/jquery/dist/jquery.js" }}></script>
    <script src={{ site.path }}{{ "/node_modules/what-input/dist/what-input.js" }}></script>
    <script src={{ site.path }}{{ "/node_modules/foundation-sites/dist/js/foundation.js" }}></script>
    <script src={{ site.path }}{{ "/js/app-min.js" }}></script>
  </body>
</html>
