@import url('./variables.css');

/* --------------------------------- Globals -------------------------------- */
/* reset html styles */
* {
    /* remove default spacing */
    margin: 0;
    padding: 0;
}

/* remove link decorations */
a {
    text-decoration: none;
}

/* main container */
.main-container {
    padding: 0rem var(--container-padding);
}

/* add padding to each section (below hero) */
section {
    padding: 2rem 0;
}


/* ------------------------------- Components ------------------------------- */
/* button design */
.button {
    padding: 1rem 3rem;
    white-space: nowrap;    /* keeps text from wrapping */
    border: none;
    border-radius: 23px;
    cursor: pointer;
    background-color: purple;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;   /* to make buttons regardless of tag the same height */
    transition: background-color 0.3s;  /* change button color on hover w color described below */
}
.button:hover {
    background-color: blue;
}


/* ---------------------------------- Theme --------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-primary-text);
}

/* ------------------------------ Hero section ------------------------------ */
/* hero container */
#hero {
    background-color: var(--color-primary);
    color: #FFFFE4;

    /* to extend the background color */
    position: relative;
    z-index: 1;
}
#hero::before {   /* extending background-color beyond container */
    content: "";    /* needed for background-color to work! */
    position: absolute;
    left: calc(-1 * var(--container-padding));
    right: calc(-1 * var(--container-padding));
    top: 0;
    bottom: 0;
    background-color: var(--color-primary);
    z-index: -1;    /* needed to put the color behind the text */
}

/* hero content, stays inside container */
.hero-content-wrapper {
    /* to center content in hero */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* new line break */
    flex-flow: column;

    /* up/down padding */
    padding: 20vh 0;    /* no padding left/right bc already managed by #hero container */
}
@media screen and (min-width: 1026px) {  /* desktop + 2px */
    .hero-content-wrapper {
        flex-direction: row;
        gap: 5rem;
    }
}

/* image */
.profile-img {
    border-radius: 50%;
}

/* full name */
.hero-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }
}

/* job title */
.hero-subtitle {    /* mobile */
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {  /* tablet */
    .hero-subtitle {
        font-size: 2rem;
    }
}

/* summary */
.hero-paragraph {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 2rem;
}

/* button group */
.hero-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (min-width: 768px) {  /* tablet */
    .hero-buttons {
        flex-direction: row;
    }
}
