/* small screen size */
:root {
    /* colors */
    --color-primary: #66a182;
    --color-secondary: #c0d461;
    --color-third: #caffb9;
    --color-fourth: #56638a;
    --color-fifth: #071013;
    
    /* typography  */
    --color-primary-text: #2E2E2E;

    /* spacing */
    --container-padding: 3rem;
}

/* medium screen size */
@media screen and (min-width: 768px) {
    :root {
        /* spacing */
        --container-padding: 9rem;
    }
    
}

/* large screen size */
@media screen and (min-width: 1024px) {
    :root {
        /* spacing */
        --container-padding: 15rem;
    }
    
}